*{
    margin: 0;
    padding: 0;
    /* outline: solid 2px red; */
    font-family: cursive;
}
.insc{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
span{
    color: blue;
}

h1{
    font-size: 45px;
}
.insc .gauche img{
    width: 352px;
}
.insc .droite form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 10px;
    padding-right: 10px;
}
.insc .droite form .formietm{
    margin-bottom: 8px;
    width: 100%;
}
.insc .droite form .formietm input{
    width: 100%;
    border: solid 1px gray;
    height: 30px;
    border-radius: 12px ;
}

.insc .droite form .botton{
    background-color: blue;
    height: 35px;
    margin-top: 5px;
    color: white;
    border: none;
    width: 100%;
    border-radius: 12px;
}
.insc .droite form .inscconnex{
    margin-top: 25px;
}


.insc .droite form .inscconnex a{
    color: red;
}