body{
    background-color: white;
    padding: 0;
    margin: 0;
}
nav{
    position: sticky;
    top: 0;
    z-index: 1;
}
header{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #1e5f93;
}
.logo{
    display: flex;
    gap:10px;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: black;
}
.img a{
    display: flex;
    height: 60px;
    width: 60px;
}

.logo h1{
    margin: 0;
    font-weight: 1000;
    color: white;
    text-shadow: 1px 4px 3px black;
}
.searchbar{
    display: flex;
    align-items: center;
}
input{
    padding: 7px 10px;
    width: 600px;
    border-radius: 5px;
    border: 1px solid #b1B2B6;
}
.icons{
    display: flex;
    align-items: center;
    gap: 35px;
    font-weight: 900;
}
.icons a{
    color: white;
    font-size: 25px;
}
.icons a:hover{
    color: #f6ab39;
}
.sub-header{
    margin: 0;
    padding: 7px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
    border-bottom: 3px solid #1e5f93;
}
.sub-header li a{
    text-decoration: none;
    color: #1e5f93;
    font-size: 17px;
    font-weight: 600;
}
footer{
    display: flex;
    flex-direction: column;
}
.prefooter{
    height: 10vh;
    background-color: #3d7db0;
}
.postfooter{
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1e5f93;
    font-size: 20px;
}
.lien{
    display: flex;
    gap: 20px;
    font-size: 25px;
}
.lien a{
    text-decoration: none;
    color: white;
}